* {
    box-sizing: border-box;
}
body {
    background: grey;
}
a {
    text-decoration: none;
    color: white;
    &:hover {
        color: white;
    }
}
.btn_prod, .Conf {
    box-shadow: 2px 3px 5px black; 
    opacity: 1;
    &:hover {
        box-shadow: 6px 7px 10px black;
    }
}
form {
    border: 1px dotted #000;
    width: 50%;
    margin: 20px 0 20px 20px;
    padding-left: 20px;
    .Row_Username{
        width: 100%;
    }
}
.Card {
    width: 50%;
    margin-Top: 30px;
    margin-left: 25%;
    background: white;
    border-Radius: 25px;
}
.Img {
    width: 100%;
    border-radius: 25px 25px 0 0;
    -webkit-border-radius: 25px 25px 0 0;
    -moz-border-radius: 25px 25px 0 0;
    -ms-border-radius: 25px 25px 0 0;
    -o-border-radius: 25px 25px 0 0;
}